.card {
  background-color: #fefe11;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 1rem auto;
  box-shadow: 0.3rem #333333;
  width: auto;
  min-width: 200px;
  max-width: 360px;
}

.book {
  display: flex;
  flex-direction: column;
}

.author {
  font-style: italic;
}

.description {
  font-size: medium;
}

.title {
  font-weight: 700;
  font-size: larger;
}
